.element__heart {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  cursor: pointer;
}
.element__heart:hover {
  opacity: 50%;
  transition-duration: 0.5s;
}
.element__heart:active {
  background-image: url(../../../images/Group/black_heats.png);
  opacity: 100%;
}
