.profile-avatar__button{
    color: white;
    width: 26px;
    height: 26px;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../images/Avatar/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.profile-avatar__button:hover {
    opacity: 60%;
    transition-duration: 0.5s;
  }
